.text-1{
    color: #355B3E;
    font-family: 'Inter';
    font-size: 24px;
    margin-top: 64px;
}
.text-2{
    font-family: 'Inter';
    color:#58745E;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 32px;
}